<div id="justify-content-center" style="background-color:lightgray">
  <h1 class="text-center">AutoLocker</h1>
  <div class="row justify-content-center">
    <div class="card text-center" style="border: none; width: 18rem; background-color:lightgray;">
      <img class="card-img-top" src="http://www.drivingschoolexperts.com/wp-content/themes/reliqus-drivingschoolexpert/images/payment-successful.png"
        alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Order Succesful!</p>
      </div>
    </div>
  </div>

</div>
