<div id="delivery">
	<h1 class="text-center">AutoLocker</h1>
	<p>We've determined that we can deliver your package faster by letting us deliver to your {{deliveryLocation}}!</p>
	<p>Would you like to switch delivery locations?</p>
	<form action="/complete" method="post">
		<div class="form-check">
		  <label class="form-check-label">
		    <input type="radio" class="form-check-input" name="yes">Yes
		  </label>
		</div>
		<div class="form-check">
		  <label class="form-check-label">
		    <input type="radio" class="form-check-input" name="no">No
		  </label>
		</div>
		<button type="submit">Finish Order</button>
	</form>
</div>
