<div id="delivery">
	<h1 class="text-center">AutoLocker</h1>
	<p class="text-center">Un/Lock the Car</p>
	<div class="row justify-content-center">
	<form action="/unlock" method="post">
		<button style="width: 150px; margin-right: 1em;" type="submit" class="btn btn-danger">Unlock</button>
	</form>
	<form action="/lock" method="post">
		<button style="width: 150px;" type="submit" class="btn btn-danger">Lock</button>
	</form>
	</div>
</div>
