<div id="market">
  <h1 class="text-center p-4" style="background-color:lightgray">AutoLocker</h1>
  <div class="row justify-content-center align-middle">
    <div class="card text-center" style="width: 18rem;background-color:lightgoldenrodyellow">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/816vyeuuKzL._SY355_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Skippy Creamy Peanut Butter</h5>
        <p class="card-text">$3.99</p>
        <form action="/delivery" method="post">
          <button type="submit" class="btn btn-danger">Order Now</button>
        </form>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;background-color:lightblue">
      <img class="card-img-top" src="https://ll-us-i5.wal.co/asr/e3b13c9f-63ee-443c-8583-2d97074cb9bf_1.e6867ee878aedf18507983ddece4f049.jpeg-7e22e64e148f99ede912736d88f6e67a2641d0cf-optim-450x450.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Schwinn Thraser Bike Helmet
        </h5>
        <p class="card-text">$23.99</p>
        <form action="/delivery" method="post">
          <button type="submit" class="btn btn-danger">Order Now</button>
        </form>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;background-color:pink">
      <img class="card-img-top" src="https://www.audio-technica.com/cms/resource_library/product_images/1c085475de0d3272/med/ath_m50x_2_sq.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Audio Technica M50x headphones</h5>
        <p class="card-text">$129.99</p>
        <form action="/delivery" method="post">
          <button type="submit" class="btn btn-danger">Order Now</a>
        </form>
      </div>
    </div>
  </div>
</div>
