<div id="market">
  <h1 class="text-center">AutoLocker</h1>
  <div class="row justify-content-center align-middle">
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/816vyeuuKzL._SY355_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Skippy Creamy Peanut Butter</h5>
        <p class="card-text">$3.99</p>
        <form action="/delivery" method="post">
          <button type="submit" class="btn btn-primary">Order Now</button>
        </form>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/816vyeuuKzL._SY355_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Skippy Creamy Peanut Butter</h5>
        <p class="card-text">$3.99</p>
        <form action="/delivery" method="post">
          <button type="submit" class="btn btn-primary">Order Now</button>
        </form>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/816vyeuuKzL._SY355_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Skippy Creamy Peanut Butter</h5>
        <p class="card-text">$3.99</p>
        <form action="/delivery" method="post">
          <button type="submit" class="btn btn-primary">Order Now</a>
        </form>
      </div>
    </div>
  </div>
</div>
